@model List<FoodStore.Models.Order>

@{
    ViewData["Title"] = "Order Management";
}
<div class=" p-4">
    @if (Model != null && Model.Any())
    {
        <div class="table-wrapper">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Mã đơn đặt hàng</th>
                        <th>Số bàn</th>
                        <th>Thời gian tạo</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.TableId</td>
                            <td>@order.Created.ToString("HH:mm:ss yyyy-MM-dd")</td>
                            <td>@order.TotalPrice</td>
                            <td>
                                <div class="col-3 fw-bold d-flex align-items-center w-100 h-100">
                                    @{
                                        if (@order.Status)
                                        {
                                            <span class="badge bg-success">Đã tiếp nhận</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">Chưa tiếp nhận</span>

                                        }
                                    }
                                </div>
                            </td>
                            <td>
                                <a href="/employee/Order/DetailAccepted/@order.Id" class="btn btn-sm btn-secondary">
                                    Xem
                                </a>
                                <a href="/employee/Invoice/Create/@order.Id" class="btn btn-sm btn-primary">
                                    Tạo hóa đơn
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Không có đơn đặt hàng nào.</p>
    }
</div>


